<!doctype html>
<html>
    <head>
       <style>

        .error {
               color: red;
             }
        form {
               background-color: #eee;
               padding: 20px;
               margin: 0 auto;
               width: 700px;
               font: 16px sans-serif;
              border-radius: 10px;
             }
        textarea {
              margin: 10px 0;
              width: 700px;
              height: 300px;
             }


       </style>
   </head>
    <titles>{{title}}</titles>
</head>

<body>
    <div>
        <a href='/newpost'> Make a post </a> <a href='/blog'> View your posts  </a>
    </div>

   {% block content %}
   {% endblock %}
</body>
</html>
